<h1><%= @article.title %></h1>
<br />

<p><%= @article.body %></p>
<br />

<%= link_to "Delete Article", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
<br />
<%= link_to "<< Back to Articles List", articles_path %>